asgiref
astroid
certifi
colorama
cycler
Django
django-excel
django-leaflet
django-upload-validator
isort
joblib
kiwisolver
kmodes
lazy-object-proxy
libmagic
lml
matplotlib
mccabe
numpy
pandas
Pillow
pycorr
pyexcel
pyexcel-io
pyexcel-webio
pyexcel-xls
pylint
pyparsing
python-dateutil
python-magic-bin
pytz
scikit-learn
scipy
seaborn
six
sqlparse
texttable
typed-ast
wrapt
xlrd
xlwt
