<div class="row justify-content-around">
    <div class="col-md-6 col-lg-6 mg-t-10">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik Clustering</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Scatter Plot Terhadap Wilayah</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 400px;">
                    <img src="data:image/png;base64,{{corr_matrix | safe}}" width="100%">
                </div>
            </div>
            <!-- <div class="card-footer"></div> -->
        </div>
    </div>

    <div class="col-md-6 col-lg-6 mg-t-10">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik Clustering</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Scatter Plot Terhadap Tenor Kredit</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 400px;">
                    <img src="data:image/png;base64,{{corr_matrix3 | safe}}" width="100%">
                </div>
            </div>
            <!-- <div class="card-footer"></div> -->
        </div>
    </div>

    <div class="col-md-6 col-lg-6 mg-t-10">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik Clustering</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Scatter Plot Terhadap Harga Kendaraan</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 400px;">
                    <img src="data:image/png;base64,{{corr_matrix4 | safe}}" width="100%">
                </div>
            </div>
            <!-- <div class="card-footer"></div> -->
        </div>
    </div>

    <div class="col-md-6 col-lg-6 mg-t-10">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik Clustering</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Scatter Plot Terhadap Pekerjaan</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 400px;">
                    <img src="data:image/png;base64,{{corr_matrix2 | safe}}" width="100%">
                </div>
            </div>
            <!-- <div class="card-footer"></div> -->
        </div>
    </div>

    <!-- BATAS SCATTER PLOT -->

    <div class="col-md-6 col-lg-6 mg-t-10">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Persebaran Data Objek Kendaraan</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 400px;">
                    <canvas id="chart-2"></canvas>
                </div>
            </div>
            <!-- <div class="card-footer"></div> -->
        </div>
    </div>

    <div class="col-md-6 col-lg-6 mg-t-10">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Persebaran Data Kelompok Harga</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 400px;">
                    <canvas id="chart-5"></canvas>
                </div>
            </div>
            <!-- <div class="card-footer"></div> -->
        </div>
    </div> 

    <div class="w-100"></div>

    <div class="col-md-6 col-lg-6 mg-t-10">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Persebaran Data Kelompok Pekerjaan</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 400px;">
                    <canvas id="chart-3"></canvas>
                </div>
            </div>
            <!-- <div class="card-footer"></div> -->
        </div>
    </div>

    <div class="col-md-6 col-lg-6 mg-t-10">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Persebaran Data Kelompok Tenor</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 400px;">
                    <canvas id="chart-4"></canvas>
                </div>
            </div>
            <!-- <div class="card-footer"></div> -->
        </div>
    </div>   
    <!-- <div class="col-md-9 mx-auto">
        <div class="card mb-5 border-0 shadow">
            <div class="card-header">
                <h6 class="mg-b-5">Data Grafik Gabungan</h6>
                <h4 class="tx-12 tx-color-03 mg-b-0">Persebaran Data Gabungan Terhadap Cluster</h4>
            </div>

            <div class="card-body">
                <div class="chart-container" style="width: 100%; height: 600px;">
                    <canvas id="chart-5"></canvas>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div> -->
</div>

<script>
    var color = Chart.helpers.color;
    var ctx = document.getElementById('chart-scatter-1').getContext('2d');
    var a = {{dataCluster | safe}}; 
    var b = {{dataTenor | safe}};

    window.randomScalingFactor = function() {
		return Math.floor(Math.random() * Math.floor(100));
	};

    function generateData() {
			var data = [];
			for (var i = 0; i < a.length ; i++) {
				data.push({
					x: randomScalingFactor(),
					y: randomScalingFactor()
				});
			}
			return data;
		}
		var scatterChartData = {
			datasets: [{
				label: 'My First dataset',
				borderColor: window.chartColors.red,
				backgroundColor: color(window.chartColors.red).alpha(0.8).rgbString(),
				data: generateData(),
			},
            {
				label: 'My Second dataset',
				borderColor: window.chartColors.blue,
				backgroundColor: color(window.chartColors.blue).alpha(0.8).rgbString(),
				data: generateData(),
                    
			}]
		};

        var configScatter = {
            data: scatterChartData,
            options: {
					title: {
						display: true,
						text: 'Chart.js Scatter Chart'
					},
				} 
        };
        var myChart = new Chart.Scatter(ctx, configScatter);
</script>
    
<script>

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(231,233,237)'
    };

    var ctx = document.getElementById('chart-1').getContext('2d');
    var color = Chart.helpers.color;
    var configBar = {
        type: 'bar',
        data: {
            labels: {{labelCluster | safe}},
            datasets: [{
                label: 'Clusters',
                data: {{dataCluster | safe}},
                backgroundColor: color(window.chartColors.blue).alpha(0.7).rgbString(),
                borderColor: color(window.chartColors.blue),
                borderWidth: 2,
                pointBackgroundColor: '#007bff'
            }], 
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        callback: function(label) {
                        if (/\s/.test(label)) {
                            return label.split(" ");
                        }else{
                            return label;
                        }              
                        }
                    }
                }]
            },
            responsive : true,
            maintainAspectRatio : false,
            plugins: {
                datalabels: {
                    formatter: Math.round,
                    font: {
                    weight: 'bold',
                    size: 25
                    }
                }
            }
            
        }
    }
    var myChart = new Chart(ctx, configBar);

    //myChart.canvas.parentNode.style.height = '400px';
</script>

<script>    
    var ctx = document.getElementById('chart-2').getContext('2d');
    var color = Chart.helpers.color;
    var configBar = {
        type: 'bar',
        data: {
            labels: {{labelKendaraan | safe}},
            datasets: [{
                label: 'Kendaraan',
                data: {{dataKendaraan | safe}},
                backgroundColor: color(window.chartColors.red).alpha(0.7).rgbString(),
                borderColor: color(window.chartColors.red),
                borderWidth: 2,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        callback: function(label) {
                        if (/\s/.test(label)) {
                            return label.split(" ");
                        }else{
                            return label;
                        }              
                        }
                    }
                }]
            },
            responsive : true,
            maintainAspectRatio : false,
            plugins: {
                datalabels: {
                    formatter: Math.round,
                    font: {
                    weight: 'bold',
                    size: 25
                    }
                }
            }
        }
    }
    var myChart = new Chart(ctx, configBar);

    //myChart.canvas.parentNode.style.height = '400px';
</script>

<script>
    var ctx = document.getElementById('chart-3').getContext('2d');
    var color = Chart.helpers.color;
    var configBar = {
        type: 'bar',
        data: {
            labels: {{labelPekerjaan | safe}},
            datasets: [{
                label: 'Total Pekerjaan',
                data: {{dataPekerjaan | safe}},
                backgroundColor: color(window.chartColors.green).alpha(0.7).rgbString(),
                borderColor: color(window.chartColors.green),
                borderWidth: 2,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        callback: function(label) {
                        if (/\s/.test(label)) {
                            return label.split(" ");
                        }else{
                            return label;
                        }              
                        }
                    }
                }]
            },
            responsive : true,
            maintainAspectRatio : false,
            plugins: {
                datalabels: {
                    formatter: Math.round,
                    font: {
                    weight: 'bold',
                    size: 25
                    }
                }
            }
        }
    }
    var myChart = new Chart(ctx, configBar);


    //myChart.canvas.parentNode.style.height = '400px';
</script>

<script>
    var ctx = document.getElementById('chart-4').getContext('2d');
    var color = Chart.helpers.color;
    var configBar = {
        type: 'bar',
        data: {
            labels: {{labelTenor | safe}},
            datasets: [{
                label: 'Tenor',
                data: {{dataTenor | safe}},
                backgroundColor: color(window.chartColors.orange).alpha(0.7).rgbString(),
                borderColor: color(window.chartColors.orange),
                borderWidth: 2,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                xAxes: [{
                    ticks: {
                        callback: function(label) {
                        if (/\s/.test(label)) {
                            return label.split(" ");
                        }else{
                            return label;
                        }              
                        }
                    }
                }]
            },
            responsive : true,
            maintainAspectRatio : false,
            plugins: {
                datalabels: {
                    formatter: Math.round,
                    font: {
                    weight: 'bold',
                    size: 25
                    }
                }
            }
        }
    }
    var myChart = new Chart(ctx, configBar);


    //myChart.canvas.parentNode.style.height = '400px';
</script>

<script>
    window.onload = function() {
      var ctx = document.getElementById('chart-5').getContext('2d');
      window.myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: {{labelCluster | safe}},
          datasets: [{
            label: 'data',
            data: {{dataHarga | safe}},
            backgroundColor: color(window.chartColors.blue).alpha(0.7).rgbString(),
            borderColor: color(window.chartColors.blue),
            borderWidth: 2,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          responsive: true,
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Horizontal Floating Bars'
          }
        }
      });
    };
</script>


<!-- <script>
    var color = Chart.helpers.color;
        
    var barChartData = {
        labels: {{labelCluster | safe}},
        datasets: [{
            label: 'Kendaraan',
            backgroundColor: color(window.chartColors.red).alpha(0.7).rgbString(),
            borderColor: color(window.chartColors.red),
            stack: 'Stack 0',
            data: {{dataKendaraan | safe}}
        }, {
            label: 'Pekerjaan',
            backgroundColor: color(window.chartColors.blue).alpha(0.7).rgbString(),
            borderColor: color(window.chartColors.blue),
            stack : 'Stack 1',
            data: {{dataPekerjaan | safe}}
        }, {
            label: 'Tenor',
            backgroundColor: color(window.chartColors.green).alpha(0.7).rgbString(),
            borderColor: color(window.chartColors.green),
            stack: 'Stack 2',
            data: {{dataTenor | safe}}
        }]

    };
    window.onload = function() {
        var ctx = document.getElementById('chart-5').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                title: {
                    display: true,
                    text: 'Chart.js Bar Chart - Stacked'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                maintainAspectRatio : false,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    };

    // document.getElementById('randomizeData').addEventListener('click', function() {
    //     barChartData.datasets.forEach(function(dataset) {
    //         dataset.data = dataset.data.map(function() {
    //             return randomScalingFactor();
    //         });
    //     });
    //     window.myBar.update();
    // });
</script> -->
