<div class="d-flex justify-content-center mt-5">
  
    <!-- <form action="{% url 'dashboard' %}" method="post" id="detail_cluster" name="cluster"> -->
        {% for label in labelCluster %}
        <button class="btn btn-primary mx-4" data-toggle="modal" name="cluster" value="{{label}}" data-target="#testModal">Detail Cluster <b>{{label}}</b></button>
        {% endfor %}
    <!-- </form> -->
      
  
    <div class="modal fade" id="testModal" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-xl">
      
        <!-- Modal content-->
        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"></h4>
          </div> -->
        
          <div class="modal-body">
            <h4>Detail Cluster</h4>
            <!-- CHART -->
            <div class="row justify-content-around">
                <div class="col-md-6 col-lg-6 mg-t-5">
                    <div class="card mb-2 border-0 shadow">
                        <div class="card-header">
                            
                        </div>
                
                        <div class="card-body">
                            <div class="chart-container" style="width: 100%; height: 250px;">
                                <canvas id="chart-cluster-1"></canvas>
                            </div>
                        </div>
                        <!-- <div class="card-footer"></div> -->
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-6 mg-t-10">
                    <div class="card mb-2 border-0 shadow">
                        <div class="card-header">
                            
                        </div>
            
                        <div class="card-body">
                            <div class="chart-container" style="width: 100%; height: 250px;">
                                <canvas id="chart-cluster-2"></canvas>
                            </div>
                        </div>
                        <!-- <div class="card-footer"></div> -->
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-6 mg-t-10">
                    <div class="card mb-3 border-0 shadow">
                        <div class="card-header">
                            
                        </div>
            
                        <div class="card-body">
                            <div class="chart-container" style="width: 100%; height: 250px;">
                                <canvas id="chart-cluster-3"></canvas>
                            </div>
                        </div>
                        <!-- <div class="card-footer"></div> -->
                    </div>
                </div>
    
                <div class="col-md-6 col-lg-6 mg-t-10">
                    <div class="card mb-3 border-0 shadow">
                        <div class="card-header">
                            
                        </div>
            
                        <div class="card-body">
                            <div class="chart-container" style="width: 100%; height: 250px;">
                                <canvas id="chart-cluster-4"></canvas>
                            </div>
                        </div>
                        <!-- <div class="card-footer"></div> -->
                    </div>
                </div>
            </div>

            <!-- END CHART -->
            <div class="px-5 mt-2">
                <h4 style="font-family:verdana;"><u>Summary</u></h4>
            <!-- <h6>Pada cluster <b>NONE</b> memiliki karakteristik kredit dengan sektor pekerjaan <b>NONE</b>, 
                banyak membeli objek kendaraan berupa <b>NONE</b>, dengan jangka waktu kredit selama <b>NONE</b> bulan 
                yang mayoritas berlokasi pada daerah <b>NONE</b>.
            </h6> -->
                <h6 style="font-family:verdana;">Dengan total elemen sebanyak <b><a id="total"></a></b> customer pada cluster <b><a id="choosen_cluster"></a></b> memiliki karakteristik diantaranya : <br>
                </h6>
                <ul style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                    <li>Mayoritas pekerjaan dengan total kemunculan berturut yaitu pada sektor <b><a id="datapek"></a></b>, <br></li>
                    <li>Banyak membeli objek kendaraan berupa <b><a id="dataobj"></a></b>, <br></li>
                    <li>Jangka waktu kredit selama <b><a id="dataten"></a></b> bulan, <br></li>
                    <li>Dan mayoritas berlokasi pada daerah <b><a id="datakab"></a></b>.</li>
                </ul>
            </div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>


{% block script %}
<script>



// $(function() {
//     $("#detail_cluster").submit(function(event) {
//         // Stop form from submitting normally
//         event.preventDefault();
//         var friendForm = $(this);
//         // Send the data using post
//         var posting = $.post( friendForm.attr('action'), friendForm.serialize() );
//         // if success:
//         posting.done(function(data) {
//             // success actions, maybe change submit button to 'friend added' or whatever
//             if(document.cluster.cluster.value != null)
//                 console.log(document.cluster.cluster.value);
            
                
            
//         });
//         // if failure:
//         posting.fail(function(data) {
//             // 4xx or 5xx response, alert user about failure
//         });
//     });
// });
    var total_data = {{total | safe}};
    

    var kabupaten_cluster = {{kab_cluster | safe}};
    var pekerjaan_cluster = {{pek_cluster | safe}};
    var object_cluster = {{obj_cluster | safe}};
    var tenor_cluster = {{ten_cluster | safe}};

    // var dataten = Object.keys(datatenorKredit);
    // document.getElementById("dataten").innerHTML = dataten;

    // var dataobj = Object.keys(dataobjekKendaraan);
    // document.getElementById("dataobj").innerHTML = dataobj;
    
    

    
</script>

<script>

   

    var myChart;

    $("button").click(function() {
        var fired_button = $(this).val()-1;
        var dataWilayah = kabupaten_cluster[fired_button];

        var total_data_cluster = total_data[fired_button];

        var ctx = document.getElementById('chart-cluster-1').getContext('2d');
        var color = Chart.helpers.color;
        var configBar = {
            type: 'bar',
            data: {
                labels: Object.keys(dataWilayah),
                datasets: [{
                    label: 'WILAYAH',
                    data: Object.values(dataWilayah),
                    backgroundColor: color(window.chartColors.blue).alpha(0.8).rgbString(),
                    borderColor: color(window.chartColors.blue),
                    borderWidth: 2,
                    pointBackgroundColor: '#007bff'
                }], 
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            callback: function(label) {
                            if (/\s/.test(label)) {
                                return label.split(" ");
                            }else{
                                return label;
                            }              
                            }
                        }
                    }]
                },
                responsive : true,
                maintainAspectRatio : false,
                plugins: {
                datalabels: {
                    formatter: Math.round,
                    font: {
                    weight: 'bold',
                    size: 20
                    }
                }
            }
            }
        }

        // myChart.destroy();
        myChart = new Chart(ctx, configBar);
        

        var totaldata = Object.values(total_data_cluster);
        document.getElementById("total").innerHTML = totaldata.reduce((a, b) => a + b, 0);

        var choosen_cluster = fired_button + 1;
        document.getElementById("choosen_cluster").innerHTML = choosen_cluster;

        var datakab = Object.keys(dataWilayah);
        document.getElementById("datakab").innerHTML = datakab;


    });
        
            
</script>

<script>
// var myChart2;

    $("button").click(function() {
        var fired_button = $(this).val()-1;
        var dataPekerjaan = pekerjaan_cluster[fired_button];

        var ctx = document.getElementById('chart-cluster-2').getContext('2d');
        var color = Chart.helpers.color;
        var configBar = {
            type: 'bar',
            data: {
                labels: Object.keys(dataPekerjaan),
                datasets: [{
                    label: 'PEKERJAAN',
                    data: Object.values(dataPekerjaan),
                    backgroundColor: color(window.chartColors.red).alpha(0.8).rgbString(),
                    borderColor: color(window.chartColors.red),
                    borderWidth: 2,
                    pointBackgroundColor: '#007bff'
                }], 
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            callback: function(label) {
                            if (/\s/.test(label)) {
                                return label.split(" ");
                            }else{
                                return label;
                            }              
                            }
                        }
                    }]
                },
                responsive : true,
                maintainAspectRatio : false,
                plugins: {
                datalabels: {
                    formatter: Math.round,
                    font: {
                    weight: 'bold',
                    size: 20
                    }
                }
            }
            }
        }
        
        // myChart.destroy();
        myChart = new Chart(ctx, configBar);
        myChart.update();
        

        var datapek = Object.keys(dataPekerjaan);
        document.getElementById("datapek").innerHTML = datapek;

    });

   
</script>
<script>

   $("button").click(function() {
        var fired_button = $(this).val()-1;
        var dataObject = object_cluster[fired_button];

        var ctx = document.getElementById('chart-cluster-3').getContext('2d');
        var color = Chart.helpers.color;
        var configBar = {
            type: 'bar',
            data: {
                labels: Object.keys(dataObject),
                datasets: [{
                    label: 'OBJECT',
                    data: Object.values(dataObject),
                    backgroundColor: color(window.chartColors.yellow).alpha(0.8).rgbString(),
                    borderColor: color(window.chartColors.yellow),
                    borderWidth: 2,
                    pointBackgroundColor: '#007bff'
                }], 
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            callback: function(label) {
                            if (/\s/.test(label)) {
                                return label.split(" ");
                            }else{
                                return label;
                            }              
                            }
                        }
                    }]
                },
                responsive : true,
                maintainAspectRatio : false,
                plugins: {
                datalabels: {
                    formatter: Math.round,
                    font: {
                    weight: 'bold',
                    size: 20
                    }
                }
            }
            }
        }
        
        // myChart.destroy();
        myChart = new Chart(ctx, configBar);
        myChart.update();
        

        var dataobj = Object.keys(dataObject);
        document.getElementById("dataobj").innerHTML = dataobj;

    });
</script>
<script>

$("button").click(function() {
        var fired_button = $(this).val()-1;
        var dataTenor = tenor_cluster[fired_button];

        var ctx = document.getElementById('chart-cluster-4').getContext('2d');
        var color = Chart.helpers.color;
        var configBar = {
            type: 'bar',
            data: {
                labels: Object.keys(dataTenor),
                datasets: [{
                    label: 'JANGKA WAKTU',
                    data: Object.values(dataTenor),
                    backgroundColor: color(window.chartColors.green).alpha(0.8).rgbString(),
                    borderColor: color(window.chartColors.green),
                    borderWidth: 2,
                    pointBackgroundColor: '#007bff'
                }], 
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            callback: function(label) {
                            if (/\s/.test(label)) {
                                return label.split(" ");
                            }else{
                                return label;
                            }              
                            }
                        }
                    }]
                },
                responsive : true,
                maintainAspectRatio : false,
                plugins: {
                datalabels: {
                    formatter: Math.round,
                    font: {
                    weight: 'bold',
                    size: 20
                    }
                }
            }
            }
        }
        
        // myChart.destroy();
        myChart = new Chart(ctx, configBar);
        myChart.update();
        

        var dataten = Object.keys(dataTenor);
        document.getElementById("dataten").innerHTML = dataten;

    });
</script>
<!-- <script>
    var color = Chart.helpers.color;
    var stackedDetailChart = {
			labels: {{labelCluster | safe}},
			datasets: [{
                label: 'Kendaraan',
                backgroundColor: color(window.chartColors.red).alpha(0.7).rgbString(),
                borderColor: color(window.chartColors.red),
                stack: 'Stack 0',
                data: {{dataKendaraan | safe}}
            }, {
                label: 'Pekerjaan',
                backgroundColor: color(window.chartColors.blue).alpha(0.7).rgbString(),
                borderColor: color(window.chartColors.blue),
                stack : 'Stack 1',
                data: {{dataPekerjaan | safe}}
            }, {
                label: 'Tenor',
                backgroundColor: color(window.chartColors.green).alpha(0.7).rgbString(),
                borderColor: color(window.chartColors.green),
                stack: 'Stack 2',
                data: {{dataTenor | safe}}
            }]

		};
		window.onload = function() {
			var ctx = document.getElementById('chart-cluster-1').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: stackedDetailChart,
				options: {
					title: {
						display: true,
						text: 'Chart.js Bar Chart - Stacked'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
			});
		};
</script> -->
{% endblock script %}
    