<div id="canvas-holder justify-content-center" style="height:530px; width:100%">
    <canvas id="chart-doughnut"></canvas>
</div>
<!-- <button class="btn btn-primary" id="randomizeData">Randomize Data</button> -->
<script>

    var ctx = document.getElementById('chart-doughnut').getContext('2d');

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(231,233,237)'
    };

    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{dataKendaraan | safe}},
                backgroundColor: [
                        window.chartColors.red,
						window.chartColors.orange,
						window.chartColors.yellow,
						window.chartColors.green,
						window.chartColors.blue
                ],
                label: 'Kendaraan'
            }],
            labels: {{labelKendaraan | safe}}
        },
        options: {
            responsive: true,
            maintainAspectRatio : false
        }
    };

    // window.onload = function() {
        
    window.myPie = new Chart(ctx, config);
    // };

</script>